* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: #1f242d;
    color: #fff;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.head .logo {
    font-size: 24px;
    color: #ffff00;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards;
}

/* animation slideright */
@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #ffff00;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    text-transform: uppercase;
    justify-content: space-between;
}

/*** animation for slideTop ***/
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*** Home ***/
.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 70px 10px 0;
}

.home-content {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

/*** animation slideBottom ***/
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 24px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span {
    color: #ffff00;
}

.home-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/**** slideleft animation ****/
@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* social media */

.social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffff00;
    border-radius: 50px;
    font-size: 20px;
    color: #ffff00;
    gap: 10px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
    background-color: #ffff00;
    color: #1f242d;
    box-shadow: 0 0 20px #ffff00;
}

.button {
    display: inline-block;
    padding: 12px 28px;
    background-color: #ffff00;
    color: #1f242d;
    border-radius: 40px;
    box-sizing: 0 0 12px #ffff00;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.home-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border-color: #ffff00;
    position: relative;
}

.home-img::after {
    content: "";
    display: block;
    background-image: url(../image/WhatsApp\ Image\ 2023-12-19\ at\ 13.43.56.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.home-img img {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: zoomin 1s ease forwards;
    z-index: 9999;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

/* about */

.about-page{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
}

.about-content {
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

#about h1 {
    margin-top: 10px;
}

.about-content .teks p {
    margin-top: 20px;
    text-align: center;
}

/* education */

.education {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.education-img {
    display: flex;
    width: 90%;
    height: 70%;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}


.img {
    width: 30%;
    height: 80%;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.sd {
    background-image: url(../image/WhatsApp\ Image\ 2023-12-22\ at\ 21.42.24.jpeg);
    background-position: center;
    background-size: cover;
}

.smp {
    background-image: url(../image/WhatsApp\ Image\ 2023-12-22\ at\ 21.42.24\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
}

.sma {
    background-image: url(../image/WhatsApp\ Image\ 2023-12-21\ at\ 13.45.51.jpeg);
    background-position: center;
    background-size: cover;
}

.deskripsi {
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    transition: .6s;
}

.img:hover .deskripsi {
    top: 0;
}

/* hobby */

.hobby-img {
    width: 60%;
    height: 70%;
    border-radius: 8%;
    animation: changeBg 2s linear infinite;
    background-image: url(../image/WhatsApp\ Image\ 2023-12-19\ at\ 12.22.55.jpeg);
    background-size: cover;
    background-position: center;
}

#hobby {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
}

#hobby h1 {
    position: absolute;
    top: 8%;
    padding-top: 40px;
}

.hobby-content {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.hobby-content p{
    margin-top: 20px;
}

/* contact */


.contact {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin-bottom: 40px;
}

#contact h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding-top: 70px;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
    padding-top: 100px;
}

form input,
textarea {
    padding: 8px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 3px #ffff00;
}

.contact-btn {
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffff00;
    color: #1f242d;
    border-radius: 40px;
    box-sizing: 0 0 10px #ffff00;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    color: #000;
}